.flechas{
  margin-top: 0px;
  transform: scale(0.3);
}

#player{
  height: 126px;
  width: 130px;
  margin-top: 170px;
}

.player-stop{
  background: url('../images/waiting.png');
  animation: player-wait 1.2s steps(10) infinite;
}

.player-run{
  background: url('../images/run.png');
  animation: player-run 1s steps(8) infinite;
}

.player-jump{
  background: url('../images/jump2.png');
  animation: player-jump 2s steps(10) infinite;
}

.player-die{
  background: url('../images/die.png');
  animation: player-die 1s steps(10);
}

.cielo{
  background: url('../images/fondo_cielo.png');
  background-size: cover;
  width: auto;
  z-index: 2;
  animation: back1 linear 2s infinite paused;
  /*position: absolute;*/
}

.cactus{
  background: url('../images/desert.png');
  height: 400px;
  width: auto;
  /*position: absolute;*/
  z-index: 1;
  animation: back2 linear 2s infinite paused;

}

.enemy{
  background: url('../images/enemy.png');
  transform: scaleX(-1) scaleY(1); /*lo doy vuelta*/
  height: 100px;
  width: 83px;
  display: inline-block;
  position: absolute;
  animation: enemy 0.5s steps(10) infinite;
}

.enemy-stop{
  background: url('../images/enemy-stop.png');
  transform: scaleX(-1) scaleY(1); /*lo doy vuelta*/
  height: 100px;
  width: 67px;
  display: inline-block;
  position: absolute;
  animation: enemy-stop 1s steps(10) infinite;
}


ul{
  list-style-type: none;
}

li{
  display: inline-block;
  margin-left: 20px;
}

.reloj, .vidas, .puntos{
  width: 300px;
  text-align: center;
}


#finJuego{
  width: 300px;
  height: 300px;
  margin-top: 100px;
  position: absolute;
  padding: 90px;
  background-color: rgba(32, 29, 31, 0.49);
  background-image: url('../images/Dead (1).png');
  box-shadow: 5px 5px 5px rgba(32, 29, 31, 0.49);
  border: rgba(32, 29, 31, 0.49) solid 2px;
  z-index: 200;
}

#ganaste{
  width: 500px;
  height: 450px;
  position: absolute;
  background-color: white;
  background-image: url('../images/Jump (7).png');
  box-shadow: 5px 5px 5px rgba(32, 29, 31, 0.49);
  border: rgba(32, 29, 31, 0.49) solid 2px;
  z-index: 200;
  animation: win 2s linear;
}

h4{
  color: black;
}

h3{
  color: white;
  text-transform: capitalize;
  margin-left: 10px;
}

.pos{
  width: 300px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 100px;
}


body{
  overflow: hidden;
}


@keyframes player-run {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -1200px;
  }
}
@keyframes player-wait {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -1496px;
  }
}

@keyframes player-jump {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -1496px;
  }

  0%,100% {transform: translateY(0);}
  50% {transform: translateY(-150px);}

}

@keyframes player-die {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -1268px;
  }
}


@keyframes back1 {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -1280px;
  }
}

@keyframes back2 {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -800px;
  }
}

@keyframes enemy {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -836px;
  }
}

@keyframes enemy-stop {
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -675px;
  }
}

@keyframes win {
  0%{
    margin-left: 0px;
  }
  100%{
    margin-left: -800px;
  }
}
