body {
	background-color: rgba(145, 237, 209, 0.8);
}

.justify-content-md-center {
	width: 100%;
}

.insert-img {
	padding: 90px;
}

.big-image {
	padding: 0px;
	margin: 0px;
	border: 0px;
	margin-left: 25px;
}
.prueba-carousel{
	height: 550px;
}
.titulo {
	position: absolute;
	left: 100px;
	font-size: 30px;
	color: #605b59;
	font-family: 'Pacifico', cursive;
}

h3{
	font-weight: bold;
	color:#605b59;
}
.navbar{
	justify-content: flex-start;
	height: 50px;
	padding: 0px;

}

.help{
	position: absolute;
	right: 1%;
	border-radius: 100px;
	transform: scale(0.8);
	top: 15%;
 	height: 30px;
 	width: 30px;
}

.icon{
	width: 50px;
	height: 50px;
	margin: 0px 20px 0px 20px;
}

.input-search {
	margin-top: 200px;
	border-radius: 100px;
	margin-bottom: 250px;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
	margin-bottom: 20px;
}

button>i>.fa>.fa-question{
	border-radius: 100px !important;
}

#tweetC, #tweet{
	width: 40px;
	height: 40px;
	border-radius: 100px;
}

.loading{
	 width: 100px;
	 height: 100px;
	 margin-top: 10%;
	 position: absolute;
	 z-index: 20;
 }

 .fa-question {
 	position: fixed;
 	margin-top: -8px;
 	margin-left: -5px;
 }

.tweet-search, .tweet-searchC{
	border-radius: 15px !important;
	margin-right: 10px;
}

.btn , .btn-secondary{
	background-color: #605b59;
	border-color: #605b59;
}

.icon-display{
	font-size: 30px;
	padding-top: 10px;
	margin-top: 10px;
	margin-left: 5px;
}

.search-bar{
	width: 300px;
	left: 660px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.mini-carousel>div>img{
	width: 200px;
	height: 150px;
	padding-top: 35px;
	padding-left: 30px;
	padding-right: 30px;
	transition: width 2s;
}

.mini-carousel{
margin-left: 4px;
}

.fa-chevron-left  {
	margin-top: 80px;
	background-color: rgba(72, 75, 71, 0.74);
	color: white;
	padding: 10px;
	border-radius: 7px;
	cursor: pointer;
}

.fa-chevron-right{
	margin-top: 80px;
	margin-left: 10px;
	padding: 10px;
	background-color: rgba(72, 75, 71, 0.74);
	color: white;
	border-radius: 7px;
	cursor: pointer;

}

.fa-step-backward, .fa-play , .fa-step-forward,  .fa-pause{
	font-size: 30px;
	padding: 10px;
	width: 100px;
	color: white;
	cursor: pointer;
}


.fa-expand {
	font-size: 30px;
 	padding: 10px;
	color: white;
}

#edge {
	margin-right: 0px;
}

.d-block {
	box-shadow:0 0 2em black;
	transition: all 1s linear;
}

.heart {
	animation: 3s color linear infinite;
	/*animation: latidos .5s infinite;*/
	transform-origin: center;
	display: inline-block;
	/*display: inline-block;
	font-size: 150px;
	text-shadow: 0 0 10px #222,1px 1px  0 #450505;
	animation: latidos .5s infinite;
	transform-origin: center;*/
	margin: 10px;
	color: white;
}

.likes {
	margin: 10px;
	color: white;
}


.info {
	position: relative;
	top: 545px;
	width: 50px;
	left: 30px;
	background-color: rgba(72, 75, 71, 0.74);
	text-align: center;
	border-radius: 7px;
	display: inline-block;
}

.controls {
	position: absolute;
	margin: 450px 0px 0px 250px;
	background-color: rgba(72, 75, 71, 0.74);
	border-radius: 7px;

}

.icons{
	margin-top: 10px;
}

footer{
	bottom: 0px;
	text-align: center;
	color:#605b59;
	margin-top: 20px;
}

.card {
	margin: 3%;
	display: inline-grid;
	/*transform: rotate(5deg);*/
}

.card-img-top{
height: 200px;
}

.card-img-top:hover {
	transform: scale(1.3);
}

.page-link {
	color: #605b59 !important;
}

.card-body {
	height: 3% !important;
	padding: 0;
	margin-top: 8px;
}

a>.icon-display{
	color:#605b59;
}

.icon-display:hover{
	transform: scale(1.5);
}

.grid-image {
	width: 1000px;
	display: inline-block;
}
