body{
	background-color: rgba(145, 237, 209, 0.8);
}

h3{
	font-weight: bold;
	color:#605b59;
}
.navbar{
	justify-content: flex-start;
}

.help{
	margin-left: 1150px;
	border-radius: 100px;
	margin-top: 30px;
	transform: scale(0.8);
}

.icon{
	width: 60px;
	height: 60px;
	margin-left: 20px;
	margin-right: 20px;
}

.input-search {
	margin-top: 200px;
	border-radius: 100px;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
	margin-bottom: 20px;
}

button>i>.fa>.fa-question{
	border-radius: 100px !important;
}

#tweet{
	width: 50px;
	height: 40px;
	border-radius: 20px;
}

#tweet-search{
	border-radius: 15px;
	margin-right: 10px;
}

.btn , .btn-secondary{
	background-color: #605b59;
	border-color: #605b59;
}

.icon-table{
	font-size: 25px;
	padding-top: 10px;
	margin-top: 10px;
	margin-left: 5px;
}

.search-bar{
	width: 300px;
	margin-left: 250px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.mini-carousel>div>img{
	width: 200px;
	height: 150px;
	padding-top: 25px;
	padding-right: 30px;
}
.fa-chevron-left  {
	margin-left: 150px;
	margin-top: 80px;
}

.fa-chevron-right{
	margin-top: 80px;
}

.fa-step-backward, .fa-play , .fa-step-forward, .fa-pause {
	font-size: 40px;
	padding: 10px;
	width: 100px;
	z-index: -1;
}

footer{
	margin-left: 500px;
	margin-top: 300px;
	color:#605b59;

}
