li {
  list-style: none;
}

.top-navbar {
  display: inline-flex;
  margin-left: 1000px;
}

.top-navbar>li{
  margin: 0px 15px 0px 15px;
}

a {
  text-decoration: none;
}

.logo{
  margin-left: 50px;
  margin-top: 20px;
  position: absolute;
}

.main-navbar{
  font-size: 20px;
  display: inline-flex;
  list-style: none;
  margin-left: 400px;
  background-color: rgba(131, 101, 12, 0.22);
  border-radius: 15px;
  padding: 20px;
  position: relative;
  width: 750px;
}

.main-navbar>li{
  margin: 0px 25px 0px 25px;
  padding-left: 50px;
}

.hamburger{
  display: none;
}

h2{
  border-bottom: solid rgba(185, 146, 30, 0.49) 1px;
  width: 1200px;
}

#section-video, #section-info, #section-form, header {
  margin-left: 100px;
  width: 1200px;
}


.video,.slider-text {
  width: 550px;
  margin-left: 50px;
}

.slider-text {
  float: right;
}

.imgCerv {
  width: 100px;
  height: 200px;
  margin-left: 100px;
}

p {
  width: 250px;
  margin-left: 30px;
}

.img-box {
  width: 300px;
  margin: 0px 20px 0px 20px;
  background-color: rgba(185, 146, 30, 0.15);
  padding: 10px;
  box-shadow: 0px 0px 5px 6px rgba(122, 121, 116, 0.2);
}

.img-list {
  display: inline-flex;
}

.form-box{
  font-size: 20px;
}

.form-box, .map-box{
  margin-right: 50px;
  margin-left: 50px;
  display: inline-block;
  width: 350px;
}

input{
  width: 250px;
}

.map {
  width: 300px;
}

.footer-nav {
  width: 1400px;
  background-color: rgba(131, 101, 12, 0.22);
  border-radius: 15px;


}
.footer-social-icon{
  width: 50px;
  height: 50px;
}

.footer-nav-menu>li, .footer-nav-menu-icons>li{
  display: inline;
}

.footer-nav{
  display: inline-block;
}

  .footer-nav-left, .footer-nav-center, .footer-nav-right{
  display: inline-block;
  margin-left: 30px;

}

.footer-nav-menu-icons>li{
  padding: 8px;
}

.footer-nav-menu>li{
  padding: 10px;
}
