

@keyframes needle-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
   transform: rotate(360deg);
  }
}

#seg {
  animation: needle-rotate 60s steps(60) infinite;
}

#min {
  animation: needle-rotate 3600s infinite;
}

#hora {
  animation: needle-rotate 21600s infinite;
}

#reloj, #hora, #min, #seg {
  width: 400px;
  height:400px;
  position: absolute;
}
