body{
  background-color: rgba(228, 207, 14, 0.33);
}
#canvas {
  margin-left: 100px;
  background-image: url('../images/girafa.png');

}

.title {
  margin-top: 10px;
  padding-left: 100px;
}

button{
  margin-left: 100px;
}
